// bg-colors
$bg-black: #1d1d1d;
$bg-red: #e06e5c;
$bg-black-main: #2a2a2e;
$bg-gray-main: #d6d6d6;

// shadows
$shadow: 0 3px 5px rgba(0,0,0,.15);

// transition
$anime: .2s ease-in-out;

// fonts-size
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-font: 900;

// gradients
$reef: linear-gradient(to right, #00bae4, #3a7bd5);