* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dontTouchMe {
  user-select: none;
}

.view {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #24292e;
  padding: 30px;
  color: #fff;
}

.view-body {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #3f4448;
}
