@import '_reset.sass'
@import '_fonts.sass'

html
  background: #24292e

body
  font-family: Roboto, sans-serif
  font-weight: 400

#app
  position: relative
  width: 100%
  height: 100vh
  display: grid
  grid-template-columns: 50px 1fr

[class*=view-]
  position: relative
  width: 100%
  height: 100vh
  border-left: 2px solid #30373E
